@page
@model Repair1.Pages.Clients.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-white">Клиенты</h1> <!-- Заголовок на русском языке с белым текстом -->

<p>
    <a class="btn btn-primary" asp-page="Create">Добавить</a> <!-- Кнопка на русском языке -->
</p>

<table class="table">
    <thead>
        <tr>
            <th class="text-white">
                <!-- Белый текст заголовка -->
                @Html.DisplayNameFor(model => model.Client[0].ClientName)
            </th>
            <th class="text-white">
                <!-- Белый текст заголовка -->
                @Html.DisplayNameFor(model => model.Client[0].Phone)
            </th>
            <th class="text-white">
                <!-- Белый текст заголовка -->
                @Html.DisplayNameFor(model => model.Client[0].Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Client)
        {
            <tr>
                <td class="text-white">
                    <!-- Белый текст ячейки -->
                    @Html.DisplayFor(modelItem => item.ClientName)
                </td>
                <td class="text-white">
                    <!-- Белый текст ячейки -->
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td class="text-white">
                    <!-- Белый текст ячейки -->
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.ClientId">Редактировать</a> |
                    <a asp-page="./Details" asp-route-id="@item.ClientId">Детали</a> |
                    <a asp-page="./Delete" asp-route-id="@item.ClientId">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>

